<div class="header">
    <div class="content-image">
        <img src="../../assets/images/universite.jpg" alt="universtite">
    </div>
    <div class="descriptions">
        <div class="text">
            <p class="lang"> German Language </p>
            <p class="lang"> School <span class="italic">"for murses" </span></p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, placeat!
                Lorem ipsum dolor sit amet consectetur.
            </p>

            <div class="container-btn">
                <div class="btn left">
                    Left
                </div>
                <div class="btn right">
                    Right
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="etudiante">
        <img src="../../assets/images/etudiante.jpg" alt="etudiants">
    </div> -->
</div>