<div class="course">
    <div class="content-back">
        <img src="../../assets/images/backEtudiant.jpg" alt="back_one">
    </div>
    <div class="content-course">
        <div class="entete">
            <div class="group-card">
                <h2>Our Latest Courses</h2>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </div>
        <div class="cardElement">
            <div class="card">
                <img src="../../assets/images/educt_one.jpg" alt="One">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="card">
                <img src="../../assets/images/educ_two.jpg" alt="Two">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="card">
                <img src="../../assets/images/educ_three.jpg" alt="three">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
    </div>
</div>