@font-face{
    font-family: "font-1";
    src : url("../../assets/fonts/PlayfairDisplay-Medium.ttf")
}
@font-face{
    font-family: "font-2";
    src : url("../../assets/fonts/PlayfairDisplay-MediumItalic.ttf")
}

$color1 : #1F2F98;
$font1 : "font-1";
$font2 : "font-2";