<div class="container-fuild">
    <div class="container">
        <div class="content-logo">
            <img src="../../assets/images/log.jpeg" alt="logo">
        </div>
        <div class="menu-slide">
            <img [ngClass]="{'show-menu': true,
                            'show-or-hide':!isShowMenu}" src="../../assets/images/m.png" alt="showMenu"
                (click)="showMenu()">
            <img [ngClass]="{'hide-menu': true,
                            'show-or-hide':isShowMenu}" src="../../assets/images/x.png" alt="hideMenu"
                (click)="showMenu()">
        </div>
        <div [ngClass]="{'content-menu':true,
                         'show' : isShowMenu}">
            <ul>
                <li>lorem</li>
                <li>lorem</li>
                <li>lorem</li>
                <li>lorem</li>
                <li>lorem</li>
            </ul>
            <span> <img src="../../assets/images/search.webp" alt=""></span>
        </div>
    </div>
</div>