<div class="container">
    <div class="text">
        <p class="title"> Work in Gernmany</p>
        <p class="title">as a nurse</p>
        <p class="likeImpot"> more <span>respect</span> higher <span> salary.</span> better <span>life</span></p>
        <p class="texttext">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis eius nam aperiam facere, maiores maxime
            voluptates veniam non esse debitis quidem incidunt vitae omnis repudiandae ex neque, cumque vero atque.
            Quisquam, error cupiditate minus beatae ipsam aut modi quae, perspiciatis
            reprehenderit rem qui sit eligendi. Excepturi nemo fugit debitis consectetur, cumque molestiae ad! Id,
            voluptatum quisquam? Amet incidunt animi vel!
        </p>
        <button class="btn primary">Read More ...</button>
    </div>
    <div class="flag">
        <img src="../../assets/images/flag.jpg" alt="Flag ...">
    </div>
</div>