<div class="container-offer">

    <div class="title">
        <h1> What We Offer</h1>
        <p>Lorem ipsum dolor sit ameti psum dolor sit amet.</p>
    </div>
    <div class="content-card-offer">
        <div class="card-offer">
            <div class="rounded"></div>
            <h3> 01 Experience </h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores aliquid accusamus ad u
                nde nesciunt natus officia impedit fugit quae incidunt repellat fugiat harum qui consec
            </p>
        </div>
        <div class="card-offer">
            <div class="rounded"></div>
            <h3> 02 Experience </h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores aliquid accusamus ad u
                nde nesciunt natus officia impedit fugit quae incidunt repellat fugiat harum qui consec
            </p>
        </div>
        <div class="card-offer">
            <div class="rounded"></div>
            <h3> 03 Experience </h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores aliquid accusamus ad u
                nde nesciunt natus officia impedit fugit quae incidunt repellat fugiat harum qui consec
            </p>
        </div>
        
    </div>
</div>