<div class="container-testi">

    <div class="title">
        <h1>Testimonials</h1>
        <div class="trait"></div>
        <p>Lorem ipsum dolor sit ameti psum dolor sit amet.</p>
    </div>
    <div class="content-card-testi">
        <div class="element left">
            <div class="rounded"></div>
            <h3>Lorem ipsum dolor sit.</h3>
            <p>
                Lorem ip eincidunt rehsec
            </p>
        </div>
        <div class="center-element">
            <div class="profil">
                <img src="../../assets/images/profil.jpg" alt="profil">
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores aliquid accusamus ad u
                nde nesciunt natus officia impedi
                t fugit quae incidunt repellat fugiat harum
            </p>
            <h3> Andre Whishton</h3>
        </div>
        <div class="element right">
            <h3>Lorem ipsum dolor sit. </h3>
            <p>
                pellat fugiat harum
            </p>
        </div>
        
    </div>
</div>