.container-testi {

    width: 100vw;
    height: 70vh;

    padding-top: 25px;

    text-align: center;

    background-color: lightgray;

    .title {
        width: 450px;
        margin: 45px auto;

        h1 {
            font-weight: bold;
        }

        .trait {
            border-bottom: 2px solid black;
            width: 45px;
            margin: 10px auto;
        }

        p {
            color: rgb(108, 94, 94);
        }
    }

    .content-card-testi {

        display: flex;

        width: 70%;
        margin: 100px auto;

        .center-element {
            width: 450px;
            height: 150px;

            padding: 20px 20px 50px 20px;

            background-color: white;

            position: relative;

            display: flex;
            flex-direction: column;
            justify-content: end;

            .profil {
                width: 100px;
                height: 100px;

                border-radius: 50%;
                margin: auto;

                position: absolute;
                top: -50px;
                left: 50%;
                transform: translateX(-50%);

                img {
                    width: 100px;
                    height: 100px;

                    border-radius: 50%;
                }
            }

            h3 {
                margin-top: 25px;
            }
        }

        .element {
            width: 250px;

            display: flex;
            flex-direction: column;
            justify-content: center;

            color: rgb(108, 94, 94);
        }

        .left {
            margin-left: 15px;
        }

        .right {

            margin-right: 15px;
        }
    }
}